/* line 34, web/static/components/my-app.vue */
.my-app {
  margin-left: auto;
  margin-right: auto;
  width: 800px; }
  /* line 38, web/static/components/my-app.vue */
  .my-app h1 {
    text-align: center; }